.header{
  background: linear-gradient(to right, #24A3CF,#3650A0);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--site-width);
  margin: 0 auto;
}

.title {
  color: white;
  padding: 1rem 0;
  font-style: italic;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
}

.list-item {

}

.link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
}

.link:hover{
  color: #24A3CF;
}
